nav > div > div {
    display: flex;
    justify-content: flex-end;
}

section {
    margin-top: 2rem;
}

#skillsCardsContainer {
    display: flex;
    justify-content: space-between;
}


footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

footer > div > div {
    margin: 1rem;
    font-size: x-large;
}

#contactFormContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: white;
}